<!--The content below is only a placeholder and can be replaced.-->
<div class='page-wrapper'>
  <div class='page-title'>
    <h2>New Application</h2>
  </div>
  <div class='tab-header'>
    <a routerLink ='/practice' routerLinkActive='active-class' class='tab-menu'>Practice Tab</a>
    <a routerLink ='/student' routerLinkActive='active-class' class='tab-menu'>Student Tab</a>
    <a routerLink ='/employee' routerLinkActive='active-class' class='tab-menu'>Employee Tab</a>
  </div>
  <div class='tab-container'>
    <router-outlet></router-outlet>
  </div>
</div>